[submodule "openGLCore/vendor/glfw"]
	path = apgl/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "apgl/vendor/spdlog"]
	path = apgl/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
